
body {
	display: grid;
	background-color: #3C1A78;
	grid-template-columns: 10% 80% 10%;
	grid-template-areas: 
	"sidebar header right-sidebar"
	"sidebar section right-sidebar"
	"sidebar section right-sidebar"
	"footer footer footer";
	margin: 0px;
}

.flex {
	display: flex;
}

header {
	/* background-color: #FFAD1E; */
	/* background: radial-gradient(circle, rgba(114,136,203,1) 0%, rgba(255,193,128,0.5256477591036415) 90%, rgba(114,136,203,1) 100%);	 */
	/* border: 1px solid green; */
	justify-content: center;
	grid-area: header;
}

h1 {
	color: #ffffff;
	font-family: 'Fjalla One', sans-serif;
}

ul {
	color: #ffffff;
	list-style: none;
	width: 100%;
}

input {
	justify-content: center;
	border-radius: 5%;
	width: 66%;
	height: 50px;
	font-size: 19px;
	text-align: center;
}

label {
	width: 25%;
}

label,
 h2,
 h3,
 p,
 .sidebar,
 .right-sidebar,
 .h2-question,
 .h1-outcome {
	color: #3C1A78;
	font-family: 'Oswald', sans-serif;
}

.text-background {
	background-color: #ffffff;
	
}
button {
	width: 35%;
	margin: 5px;
}

form {
	/* border: 1px solid purple; */
	/* display: flex;
	flex-wrap: wrap;
	justify-content: center; */
	width: 77%;
	margin: auto;
	padding: 15px;
	/* align-items: center; */
}

main {
	background: url('staff-paper-image.jpg') center no-repeat;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

section {
	grid-area: section;
	flex-wrap: wrap;
	width: 100%;
}

h2 {
	margin: 0px 15px;
}

h3 {
	width: 100%;
	margin-left: 22px;
}

p {
	font-size: 15px;
	justify-content: center;
	/* width: 50%; */
}

ol {
	color: #3C1A78;
	display: inline-block;
	border-style: double;
	border-top-left-radius: 20%;
	border-bottom-right-radius: 20%;
	margin: 10px 0px 10px 26px;
	padding-right: 10px;
	text-align: center;
	width: 5%;
}

footer {
	grid-area: footer;
	width: 100%;
	height: 100px;
	/* background-color: #FFAD1E; */
	/* background: linear-gradient(90deg, rgba(114,136,203,1) 0%, rgba(255,193,128,0.5256477591036415) 90%, rgba(114,136,203,1) 100%); */

}

a {
	padding: 13px 0px 13px 5px;
	width: 12%;
}

.sidebar-list {
	padding: 10px;
}

.sidebar {
	grid-area: sidebar;
	flex-wrap: wrap;
}

.right-sidebar {
	grid-area: right-sidebar;
}

.sidebar-list:hover {
	color: #F98000;
}

.section-top {
	flex-wrap: wrap;
	width: 95%;
}

.lesson1-heading {
	background-color: #fff;
	border-style: double;
	border-top-left-radius: 20%;
	border-bottom-right-radius: 20%;
	font-size: 40px;
	height: 62px;
	width: 23%;
	margin: 0px 0px 0px 20px;
	padding: 5px 5px;
}

.key-paragraph {
	/* border-style: double;
	border-top-left-radius: 20%;
	border-bottom-right-radius: 20%; */
	margin: 0px 20px 0px 20px;
	width: 100%;
}

.section-middle {
	width: 100%;
}

.h3-key-heading {
	border-style: double;
	border-top-right-radius: 20%;
	border-bottom-left-radius: 20%;
	width: 14%;
	text-align: center;
	height: 36px;
	margin-right: 69%;
}

.ol-key-list {
	margin-right: 0px;
}

.ol-key-li {
	font-size: 20px;
}

.ol-key-paragraph {
	/* border-style: double;
	border-top-right-radius: 20%;
	border-bottom-left-radius: 20%; */
	display: inline-block;
	height: 29px;
	margin: auto;
	/* background-color: #fff; */
	padding: 24px;
	width: 75%;
}

.key-span {
	font-size: 40px;
	font-weight: 700;
	margin: 0px 5%;
	width: 20%;
}

.keyboard-image {
	width: 40%;
	height: 175px;
	margin: 15px 0px 0px 33%;
}

.h2-question {
	border-style: double;
	border-top-right-radius: 20%;
	border-bottom-left-radius: 20%;
	margin: auto;
	text-align: center;
	padding-left: 5%;
	width: 60%;
}

.h2-outcome {
	border-style: double;
	border-bottom-right-radius: 20%;
	border-top-left-radius: 20%;
	justify-content: center;
	margin: 5% auto;
	width: fit-content;
}

.section-bottom {
	width: 100%;
}

.form-bottom {
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

.submit-button {
	font-family: 'Fjalla One', sans-serif;
	height: 55px;
	width: 66%;
	border-radius: 5%;
	color: #fff;
	font-size: 1em;
	/* margin: 10px; */
	background-color: #775BA5  ;
}
.submit-button:hover {
	background-color: #F98000;
}

